<div id="dishes" class="transitions-enabled">
  <% @dishes.each do |dish| %>
    <div class="box panel panel-default">
      <%= image_tag dish.image.url(:medium) %>
      <div class="panel-body">
        <h4><%= dish.name %></h4>
        <%= dish.description %>
        <%= dish.meal %>
        <%= dish.user.email %>
        <%= link_to 'Show', dish %>
        <% if dish.user == current_user %>
          <%= link_to 'Edit', edit_dish_path(dish) %>
          <%= link_to 'Destroy', dish, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
</br>