<%= image_tag @dish.image.url %>
<p>
  <strong>Name:</strong>
  <%= @dish.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dish.description %>
</p>
<p>
  <strong>Meal:</strong>
  <%= @dish.meal %>
</p>

<% if @dish.user == current_user %>
<%= link_to 'Edit', edit_dish_path(@dish) %> |
<% end %>
<%= link_to 'Back', dishes_path %>
